<h1>What is your favourite color?</h1>

{{!-- Redirects the user to "/colors-result?color=TheColorTypedByTheUser" --}}
<form action="/colors-result" method="get">
  <input type="text" name="color" >
  <button type="submit">Submit</button>
</form>

