<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .box {
      border: 1px solid black;
      height: 100px;
      width: 100px;
    }
  </style>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/cities/lisbon">Lisbon</a>
    <a href="/cities/paris">Paris</a>
    <a href="/cities/berlin">Berlin</a>
    <a href="/colors">Colors</a>
  </nav>
  {{{body}}}
</body>
</html>